/* #8ae9ff --> blue
   #c850c0 --> pink
*/

html {
    font-family: "Courier New", Courier, monospace;
    background-color: rgba(23,20,51, 0.85);

    /* Fit page to screen size */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    align-items: center;
    height: 15vh;
}

.personal-logo {
    max-height: 100%;
    display: block;
    margin: 2vh auto;
}

main {
    height: 65vh;
    padding: 2vh;
}

.carousel-wrapper {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.carousel-wrapper button {
    height: 10%;
    width: 5%;
    margin: 0 1%;
    color: #8ae9ff;
    font-size: 3vh;
    font-weight: 800;
    text-align: center;
    background-color: #9d00ff;
    border-radius: 50%;
    border: none;
    transition: all 0.3s;
}

.carousel-wrapper button:hover {
    transition: all 0.3s;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid black; /* TEMPORARY */
}

.content-text {
    height: 500px; /* TEMPORARY */
    width: 50%;
    border: 2px solid black;
}

.content-img {
    width: 50%;
    height: 500px; /* TEMPORARY */
    position: relative;
    border: 2px solid black;
}

.content-img img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    height: 15%;
    width: 75%;
    margin: auto;
    display: flex;
}

nav button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    margin: 2% 1%;
}

.nav-button-img {
    max-height: 100%;
}

footer {
    height: 50px;
    padding: 10px;
    margin: 50px 0;
    float: right;
    background-color: rgba(138, 233, 255, 0.6);
    display: flex;
    width: 25%;
    border-radius: 35px;
    transform: translate(50%, 0);
}

.social-icon {
    width: auto;
    height: 100%;
    /* filter: invert(75%) sepia(43%) saturate(603%) hue-rotate(168deg)
      brightness(107%) contrast(103%); */
}
